*
!.gitignore
!data/
!data/connections/
!data/dashboards
!webserver.json
!6be07d93-e60c-cb79-d70d-a5b02b4f209f.json
!10ec73be-e822-7e49-1159-037697f15bf1.json
!dash.q
!dashboards.csv
!export.sh
!PERMISSIONS.MD
!permissions.q
!usergroups.csv
!users
!version.txt
!update.sh